@model IEnumerable<AllGoodEdu.Models.Category>

@{
    ViewData["Title"] = "Category";
}

<h1>Category</h1>
@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create" class="button">Create New</a>
    </p>
}
<table class="table sortable table-hover">
    <thead>
        <tr>
            <th>
                <a href="#">Name</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
