@model IEnumerable<AllGoodEdu.Models.CartItem>

@{ ViewData["Title"] = "Your Cart"; }

<h1>Your Cart</h1>

@if (Model.Count() > 0)
{
    var total = 0.0;
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td>
                    Product
                </td>
                <td>
                    Price
                </td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                total += item.Price;
                <tr>
                    <td>
                        @item.Course.Name
                    </td>
                    <td>
                        @String.Format("{0:c}", item.Price)
                    </td>
                    <td>
                        <a asp-controller="Learnings" asp-action="RemoveFromCart" asp-route-id="@item.CartItemId">
                            Remove
                        </a>
                    </td>
                </tr>
            }
            <tr>
                <td><a asp-action="Index" class="btn btn-primary">Keep Shopping</a></td>
                <td>@String.Format("{0:c}", total)</td>
                <td><a asp-action="Checkout" class="btn btn-primary">Checkout</a></td>
            </tr>
        </tbody>
    </table>
}
else
{
    <h2>You need add some courses</h2>
    <a class="btn btn-primary" asp-action="Index">Shop Now</a>
}
