@{
    ViewData["Title"] = "AllGoodEdu";
}

<div class="text-center">
    <h1 class="display-4">AllGoodEdu</h1>
    <h2>Meet your students and teachers here!</h2>
    <p>Logo made at <a href="https://logomakr.com/" target="_blank">Logomkr</a></p>
</div>
